-content_for :inline_script do
  :javascript
    $(document).ready(function(){
      make_collapsable_option_group("cycles");
      make_collapsable_option_group("types");
      $("input.filter_criteria").click(
        function(){
          $('#filter_form').submit();
        }
      );

    });


-content_for :colonneGauche do
  .wraperGauche
    #filter_count
      %span="#{t(:scholarship_count, :count => @scholarships.size)}"
    
    = form_tag('/scholarships',:remote => true, :method => :get, :id => 'filter_form') do
      #cycles_header{:class => 'filter_category_top'}
        %h4{:class => 'filter_category_header expanded'}=t(:cycles)
      #cycles{:class => 'filters'}
        =radio_button_tag("all_cycles","0", true, :id=> 'all_cycles', :class => 'filter_criteria')
        =label_tag("all_cycles",t(:all_cycles))
        %br

        -Scholarship::AVAILABLE_CYCLES.each do |cycle, value|
          =check_box_tag("cycles[#{cycle}]" , value, !@selected_cycles["#{cycle}"].nil?, :class=> 'filter_criteria cycles_option')
          =label_tag("cycles[#{cycle}]",t(cycle))
          %br

      #cycles_bottom{:class => 'filter_category_bottom'}
        %span &nbsp;

      #types_header{:class => 'filter_category_top'}
        %h4{:class => 'filter_category_header nth_header expanded'}=t(:types)
      #types{:class => 'filters'}
        =radio_button_tag("all_types","0", true, :id=> 'all_types', :class => 'filter_criteria')
        =label_tag("all_types",t(:all_types))
        %br

        -Scholarship::AVAILABLE_TYPES.each do |type|
          =check_box_tag("types[#{type}]" , type, !@selected_types["#{type}"].nil?, :class => 'filter_criteria types_option')
          =label_tag("types[#{type}]", t(type))
          %br

      #tyclasspes_bottom{:class => 'filter_category_bottom'}
        %span &nbsp;


-content_for :colonneCentreSection do
  = form_tag('/scholarships/scholarship_info_request',:method => :post, :id => 'form_for_scholarship_info') do
    #info_request
      =label_tag('requester_address', t(:enter_email))
      =text_field_tag('requester_address', '', :id=> "requester_address")
      =submit_tag(t(:request_info_button))
    #scholarship_list
      =render :partial => "scholarship_list"
