-content_for :inline_script do
  :javascript
    $(document).ready(function(){
      $('img.fade_in_fade_out').toggle(
        function(){
           $('.'+this.id).fadeIn('slow');
        },
        function(){
           $('.'+this.id).fadeOut('slow');
        }
      );
    });
    /* could be good */


-content_for :colonneGauche do
  .wraperGauche
    = form_tag('/scholarships/search') do
      = submit_tag(t(:filter))
      #cycles
        %h4=t(:cycles)
        = check_box_tag('cycles[first_cycle]' , 1)
        = label_tag('cycles[first_cycle]',t(:first_cycle))
        %br
        = check_box_tag('cycles[second_cycle]' , 2)
        = label_tag('cycles[second_cycle]',t(:second_cycle))
        %br
        = check_box_tag('cycles[third_cycle]' , 3)
        = label_tag('cycles[third_cycle]',t(:third_cycle))
        %br
        = check_box_tag('cycles[postdoc_cycle]' , 4)
        = label_tag('cycles[postdoc_cycle]',t(:postdoc_cycle))
      #types
        %h4=t(:types)
        -Scholarship::AVAILABLE_TYPES.each do |type|
          =check_box_tag("types[#{type}]" , type)
          =label_tag("types[#{type}]", t(type))
          %br

-content_for :colonneCentreSection do
  #scholarship_list
    %table
      %tr
        %th=t(:name)
        %th= t(:cycle)
      -@scholarships.each do |scholarship|
        %tr{ :id=>"seq_#{scholarship.seq}" }
          %td
            %img{:id => "exp_#{scholarship.seq}", :class=>'fade_in_fade_out',  :src => '/images/info_button.png'}
          %td
            %a{ :href=>scholarship.bbaf_url}
              =scholarship.name
            %div{:class => "fadeable exp_#{scholarship.seq}", :style=>"display:none;"}
              %span=t(:want_more_info)
              %form{:id => "form_for_scholarship_#{scholarship.seq}", :action => 'scholarship_info_request'}
                =hidden_field_tag('scholarship_ids', scholarship.seq, :id=> nil)
                =label_tag('requester_address', t(:enter_email))
                =text_field_tag('requester_address', '', :id=> nil)
                =submit_tag(t(:request_info_button))

          %td=scholarship.cycle
