-content_for :inline_script do
  :javascript
    $(document).ready(function(){
      make_collapsable("#cycles");
      make_collapsable("#types");
      $("input.filter_criteria").click(
        function(){
          $('#filter_form').submit();
        }
      );

    });


-content_for :colonneGauche do
  .wraperGauche
    #filter_count
      %span="#{t(:scholarship_count, :count => @scholarships.size)}"
    
    = form_tag('/scholarships',:remote => true, :method => :get, :id => 'filter_form') do
      #cycles_header{:class => 'filter_category_top'}
        %h4{:class => 'filter_category_header expanded'}=t(:cycles)
      #cycles{:class => 'filters'}
        -Scholarship::AVAILABLE_CYCLES.each do |cycle, value|
          = check_box_tag("cycles[#{cycle}]" , value, !@selected_cycles["#{cycle}"].nil?, :class=> 'filter_criteria')
          = label_tag("cycles[#{cycle}]",t(cycle))
          %br

      #cycles_bottom{:class => 'filter_category_bottom'}
        %span &nbsp;

      #types_header{:class => 'filter_category_top'}
        %h4{:class => 'filter_category_header nth_header expanded'}=t(:types)
      #types{:class => 'filters'}
        -Scholarship::AVAILABLE_TYPES.each do |type|
          =check_box_tag("types[#{type}]" , type, !@selected_types["#{type}"].nil?, :class => 'filter_criteria')
          =label_tag("types[#{type}]", t(type))
          %br

      #types_bottom{:class => 'filter_category_bottom'}
        %span &nbsp;


-content_for :colonneCentreSection do
  %form{:id => "form_for_scholarship_info", :action => '/scholarships/scholarship_info_request', :method => "post"}
    #scholarship_list
      =render :partial => "scholarship_list"
