-content_for :inline_script do
  :javascript
    $(document).ready(function(){
      $('img.fade_in_fade_out').toggle(
        function(){
           $('.'+this.id).slideDown('slow');
        },
        function(){
           $('.'+this.id).slideUp('slow');
        }
      );
    });


-content_for :colonneGauche do
  .wraperGauche
    = form_tag('/scholarships/search') do
      = submit_tag(t(:filter))
      #cycles
        %h4=t(:cycles)
        -Scholarship::AVAILABLE_CYCLES.each do |cycle, value|
          = check_box_tag("cycles[#{cycle}]" , value, !@selected_cycles["#{cycle}"].nil?)
          = label_tag("cycles[#{cycle}]",t(cycle))
          %br
      #types
        %h4=t(:types)
        -Scholarship::AVAILABLE_TYPES.each do |type|
          =check_box_tag("types[#{type}]" , type, !@selected_types["#{type}"].nil?)
          =label_tag("types[#{type}]", t(type))
          %br

-content_for :colonneCentreSection do

  #scholarship_list
    %table{:style => "width:600px;"}
      %tr
        %td{:colspan=>'3'}
          ="#{t(:scholarship_count, :count => @scholarships_count)}"
      %tr{:id => "table_header" }
        %th{:colspan=>'2'}=t(:name)
        %th= t(:cycle)
      -@scholarships.each do |scholarship|
        %tr{ :id=>"seq_#{scholarship.seq}", :class => "scholarship #{cycle( 'row1', 'row2')}"}
          %td{:style => "vertical-align:top;"}
            %img{:id => "exp_#{scholarship.seq}", :class=>'fade_in_fade_out',  :src => '/images/info_button.png'}
          %td
            %a{ :href=>scholarship.bbaf_url}
              =scholarship.name
            %div{:class => "fadeable exp_#{scholarship.seq}", :style=>"display:none;"}
              %span=t(:want_more_info)
              %form{:id => "form_for_scholarship_#{scholarship.seq}", :action => '/scholarships/scholarship_info_request'}
                =hidden_field_tag('scholarship_ids', scholarship.seq, :id=> nil)
                =label_tag('requester_address', t(:enter_email))
                =text_field_tag('requester_address', '', :id=> nil)
                =submit_tag(t(:request_info_button))

          %td=scholarship.cycle

      %tr
        %td{:colspan => '3', :style => "text-align:right;"}= paginate @scholarships


