-content_for :colonneGauche do
  .wraperGauche
    = form_tag('/scholarships/search') do
      = submit_tag(t(:search))
      #cycles
        = label_tag('cycles[first_cycle]',t(:first_cycle))
        = check_box_tag('cycles[first_cycle]' , 1)
        %br
        = label_tag('cycles[second_cycle]',t(:second_cycle))
        = check_box_tag('cycles[second_cycle]' , 2)
        %br
        = label_tag('cycles[third_cycle]',t(:third_cycle))
        = check_box_tag('cycles[third_cycle]' , 3)
        %br
        = label_tag('cycles[postdoc_cycle]',t(:postdoc_cycle))
        = check_box_tag('cycles[postdoc_cycle]' , 4)
        



-content_for :colonneCentreSection do
  #scholarship_list
    %table
      %tr
        %th=t(:name)
        %th= t(:cycle)
      -@scholarships.each do |scholarship|
        %tr
          %td=scholarship.name
          %td=scholarship.cycle