%html
  %head
    %title
      Bureau des bourses et de l'aide financi&egrave;re - R&eacute;pertoire de bourses
    %meta{:content => "index,follow", :name => "robots"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/theme.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/small.css", :rel => "stylesheet", :title => "small", :type => "text/css"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/small.css", :rel => "alternate stylesheet", :title => "small", :type => "text/css"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/medium.css", :rel => "alternate stylesheet", :title => "medium", :type => "text/css"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/large.css", :rel => "alternate stylesheet", :title => "large", :type => "text/css"}/
    %link{:href => "/jsp/jahia/templates/bbaf/bbaf/Global/theme4.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %table.centrerPage{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td
          #overAll.tout
            %a{:name => "haut"}
            #contenu
              #bordureTout
                #bandeau
                  / ulaval banner (start)
                  %table.bandUl{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %tr
                      %td{:colspan => "3"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tr
                            %td
                              / IE HACK ici
                              %img{:alt => "", :border => "0", :height => "10", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_rouge_ul.gif", :style => "width:570px;_width:568px;"}/
                            %td
                              %img{:alt => "", :border => "0", :height => "10", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "2"}/
                            %td
                              %img{:alt => "", :border => "0", :height => "10", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_jaune_ul.gif", :width => "190"}/
                    %tr
                      %td{:valign => "top"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tr
                            %td
                              %img{:alt => "", :border => "0", :height => "46", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "15"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "10", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif"}/
                              %br/
                              %a{:href => "/sgc/bbaf"}
                                %img{:alt => "", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/titreBandeau.gif"}/
                      %td
                        %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "1"}/
                        %br/
                      %td{:rowspan => "2"}
                        %img{:alt => "", :border => "0", :height => "10", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "1"}/
                        %br/
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tr
                            %td
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "146"}/
                              %br/
                              %a.bandContent1{:href => "http://www.ulaval.ca", :target => "_blank"}
                                %img{:alt => "Université Laval", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/band-ulaval-logo.gif"}/
                              %br/
                    %tr
                      %td{:valign => "bottom"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tr
                            %td
                              %img{:alt => "", :border => "0", :height => "14", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "17"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "14", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_gris.gif", :width => "1"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "5"}/
                              %br/
                            %td{:align => "left", :valign => "top"}
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "80"}/
                              %br/
                              %a.bandeau{:href => "/sgc/bbaf"} Accueil
                            %td
                              %img{:alt => "", :border => "0", :height => "14", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_gris.gif", :width => "1"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "5"}/
                              %br/
                            %td{:align => "left", :valign => "top"}
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "80"}/
                              %br/
                              %a.bandeau{:href => "/sgc/bbaf/pid/6532", :title => "&Agrave; propos"} &Agrave; propos
                            %td
                              %img{:alt => "", :border => "0", :height => "14", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_gris.gif", :width => "1"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "5"}/
                              %br/
                            %td{:align => "left", :valign => "top"}
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "80"}/
                              %br/
                              %a.bandeau{:href => "/sgc/bbaf/joindre", :title => "Nous joindre"} Nous joindre
                            %td
                              %img{:alt => "", :border => "0", :height => "14", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_gris.gif", :width => "1"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "5"}/
                              %br/
                            %td{:align => "left", :valign => "top"}
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "80"}/
                              %br/
                              %a.bandeau{:href => "/sgc/bbaf/repertoire/engineName/sitemap?matrix=1298918689381&sitemap=1"} Plan du site
                            %td
                              %img{:alt => "", :border => "0", :height => "14", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_gris.gif", :width => "1"}/
                              %br/
                            %td
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "5"}/
                              %br/
                            %td{:align => "left", :valign => "top"}
                              %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "80"}/
                              %br/
                              %a.bandeau{:href => "/sgc/bbaf/chercher"} Chercher
                      %td
                        %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix.gif", :width => "1"}/
                        %br/
                    %tr
                      %td{:colspan => "3"}
                        %img{:alt => "", :border => "0", :height => "1", :src => "/jsp/jahia/templates/bbaf/bbaf/images/pix_gris.gif", :width => "760"}/
                        %br/
                  / ulaval banner (end)
                / Fin div#bandeau
                / header (end)
                #entete
                  %table#menuHaut{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %tr
                      %td.menuHaut
                        %a{:href => "/sgc/bbaf/etudiants_ul", :title => "&Eacute;tudiants Universit&eacute; Laval"}
                          %img#menu1.imageSansBordure{:onmouseout => "switchImage('menu1','/webdav/site/bbaf/shared/images/menu_principal/isabelle_eul_profil.jpg');", :onmouseover => "switchImage('menu1','/webdav/site/bbaf/shared/images/menu_principal/isabelle_eul_over.jpg');", :src => "/webdav/site/bbaf/shared/images/menu_principal/isabelle_eul_profil.jpg"}/
                      %td.menuHaut
                        %a{:href => "/sgc/bbaf/futurs_etudiants", :title => "Futurs &eacute;tudiants"}
                          %img#menu2.imageSansBordure{:onmouseout => "switchImage('menu2','/webdav/site/bbaf/shared/images/menu_principal/sandrine_fe_profil.jpg');", :onmouseover => "switchImage('menu2','/webdav/site/bbaf/shared/images/menu_principal/sandrine_fe_over.jpg');", :src => "/webdav/site/bbaf/shared/images/menu_principal/sandrine_fe_profil.jpg"}/
                      %td.menuHaut
                        %a{:href => "/sgc/bbaf/futurs_etudiants_etrangers", :title => "Futurs &eacute;tudiants &eacute;trangers"}
                          %img#menu3.imageSansBordure{:onmouseout => "switchImage('menu3','/webdav/site/bbaf/shared/images/menu_principal/alain_fee_profil.jpg');", :onmouseover => "switchImage('menu3','/webdav/site/bbaf/shared/images/menu_principal/alain_fee_over.jpg');", :src => "/webdav/site/bbaf/shared/images/menu_principal/alain_fee_profil.jpg"}/
                      %td.menuHautDroite
                        %a.menuHautDroite.menuHautDroiteActif{:href => "/sgc/bbaf/repertoire", :title => "R&eacute;pertoire de bourses"}
                          R&eacute;pertoire de bourses
                        %a.menuHautDroite{:href => "/sgc/bbaf/budget", :title => "Budget &eacute;tudiant"}
                          Budget &eacute;tudiant
                        %a.menuHautDroite{:href => "/sgc/bbaf/faq", :title => "Questions fr&eacute;quentes"}
                          Questions fr&eacute;quentes
                        %a.menuHautDroite{:href => "/sgc/bbaf/liens_utiles", :title => "Liens utiles"}
                          Liens utiles
                #contenuCentral
                  %table.conteneurBordure
                    %tr
                      %td.degraderGauche
                        \&nbsp;
                      %td
                        #outils
                          %table.outils
                            %tr
                              %td
                                %a{:href => "javascript:setStyleSheetSize('bigger');", :title => "Augmenter la taille du texte"}
                                  %img#toolbar_larger.imageSansBordure.imageBlock{:alt => "Augmenter la taille du texte", :onmouseout => "switchImgTool ('toolbar_larger','toolbar_larger_off');", :onmouseover => "switchImgTool ('toolbar_larger','toolbar_larger_on');", :src => "/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/plus.gif"}/
                              %td
                                %a{:href => "javascript:setStyleSheetSize('smaller');", :title => "Diminuer la taille du texte"}
                                  %img#toolbar_smaller.imageSansBordure.imageBlock{:alt => "Diminuer la taille du texte", :onmouseout => "switchImgTool ('toolbar_smaller','toolbar_smaller_off');", :onmouseover => "switchImgTool ('toolbar_smaller','toolbar_smaller_on');", :src => "/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/moins_over.gif"}/
                              %td.toolbarText
                                Taille du texte&nbsp;&nbsp;&nbsp;
                              %td
                                %a.lienFonction{:href => "#", :onclick => "OpenWindow('/jsp/jahia/templates/bbaf/bbaf/courriel.jsp?titreSite=Bureau des bourses et de l\\'aide financière&titreDePage=R&eacute;pertoire de bourses&langue=fr_CA','','Envoyerbulletin',370, 380);", :title => "Partager cette page"}
                                  %img#toolbarSend.imageSansBordure{:alt => "Partager cette page", :onmouseout => "switchImage('toolbarSend','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/envelope.gif'); switchClassName('lienToolbarSend','lienFonction');", :onmouseover => "switchImage('toolbarSend','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/envelope_over.gif'); switchClassName('lienToolbarSend','lienFonctionHover');", :src => "/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/envelope.gif"}/
                              %td.toolbarText
                                %a#lienToolbarSend.lienFonction{:href => "#", :onclick => "OpenWindow('/jsp/jahia/templates/bbaf/bbaf/courriel.jsp?titreSite=Bureau des bourses et de l\\'aide financière&titreDePage=R&eacute;pertoire de bourses&langue=fr_CA','','Envoyerbulletin',370, 380);", :onmouseout => "switchImage('toolbarSend','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/envelope.gif');", :onmouseover => "switchImage('toolbarSend','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/envelope_over.gif');", :title => "Partager cette page"}
                                  envoyer à un ami
                                \&nbsp;&nbsp;&nbsp;
                              %td
                                %a.lienFonction{:href => "/sgc/bbaf/repertoire/cache/bypass?print=1", :target => "_blank", :title => "Imprimer"}
                                  %img#toolbarPrint.imageSansBordure{:alt => "Imprimer", :onmouseout => "switchImage('toolbarPrint','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/imprimante.gif');", :onmouseover => "switchImage('toolbarPrint','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/imprimante_over.gif');", :src => "/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/imprimante.gif"}/
                              %td.toolbarText
                                %a.lienFonction{:href => "/sgc/bbaf/repertoire/cache/bypass?print=1", :onmouseout => "switchImage('toolbarPrint','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/imprimante.gif');", :onmouseover => "switchImage('toolbarPrint','/jsp/jahia/templates/bbaf/bbaf/images/toolbar/theme4/imprimante_over.gif');", :target => "_blank", :title => "Imprimer"}
                                  Imprimer
                        / colonne qui flotte a gauche
                        #colonneGauche
                          .wraperGauche
                            %table#element28291.menu_Niveau2_false{:border => "0px", :cellpadding => "0px", :cellspacing => "0px", :onmouseout => "switchClassName('element28291', 'menu_Niveau2_false'); switchClassName('lien28291', 'menu_Niveau2_false'); switchImage('puce28291', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif');", :onmouseover => "switchClassName('element28291', 'menu_Niveau2_over'); switchClassName('lien28291', 'menu_Niveau2_over'); switchImage('puce28291', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_over.gif');"}
                              %tr
                                %td{:style => "width:150px;"}
                                  %a#lien28291.menu_Niveau2_false{:href => "/sgc/bbaf/repertoire/pid/8149", :title => "Premier cycle"}
                                    Premier cycle
                                %td.puce_Niveau2_false
                                  %img#puce28291.puceMenu{:align => "absmiddle", :alt => "", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif"}/
                            %table#element28292.menu_Niveau2_false{:border => "0px", :cellpadding => "0px", :cellspacing => "0px", :onmouseout => "switchClassName('element28292', 'menu_Niveau2_false'); switchClassName('lien28292', 'menu_Niveau2_false'); switchImage('puce28292', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif');", :onmouseover => "switchClassName('element28292', 'menu_Niveau2_over'); switchClassName('lien28292', 'menu_Niveau2_over'); switchImage('puce28292', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_over.gif');"}
                              %tr
                                %td{:style => "width:150px;"}
                                  %a#lien28292.menu_Niveau2_false{:href => "/sgc/bbaf/repertoire/pid/8150", :title => "Deuxi&egrave;me cycle"}
                                    Deuxi&egrave;me cycle
                                %td.puce_Niveau2_false
                                  %img#puce28292.puceMenu{:align => "absmiddle", :alt => "", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif"}/
                            %table#element28293.menu_Niveau2_false{:border => "0px", :cellpadding => "0px", :cellspacing => "0px", :onmouseout => "switchClassName('element28293', 'menu_Niveau2_false'); switchClassName('lien28293', 'menu_Niveau2_false'); switchImage('puce28293', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif');", :onmouseover => "switchClassName('element28293', 'menu_Niveau2_over'); switchClassName('lien28293', 'menu_Niveau2_over'); switchImage('puce28293', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_over.gif');"}
                              %tr
                                %td{:style => "width:150px;"}
                                  %a#lien28293.menu_Niveau2_false{:href => "/sgc/bbaf/repertoire/pid/8151", :title => "Troisi&egrave;me cycle"}
                                    Troisi&egrave;me cycle
                                %td.puce_Niveau2_false
                                  %img#puce28293.puceMenu{:align => "absmiddle", :alt => "", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif"}/
                            %table#element28294.menu_Niveau2_false{:border => "0px", :cellpadding => "0px", :cellspacing => "0px", :onmouseout => "switchClassName('element28294', 'menu_Niveau2_false'); switchClassName('lien28294', 'menu_Niveau2_false'); switchImage('puce28294', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif');", :onmouseover => "switchClassName('element28294', 'menu_Niveau2_over'); switchClassName('lien28294', 'menu_Niveau2_over'); switchImage('puce28294', '/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_over.gif');"}
                              %tr
                                %td{:style => "width:150px;"}
                                  %a#lien28294.menu_Niveau2_false{:href => "/sgc/bbaf/repertoire/pid/8152", :title => "Scolarit&eacute; postdoctorale"}
                                    Scolarit&eacute; postdoctorale
                                %td.puce_Niveau2_false
                                  %img#puce28294.puceMenu{:align => "absmiddle", :alt => "", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/menu/theme4/puce_menu_n2_false.gif"}/
                        / colonne qui flotte a droite
                        #colonneDroite
                          .wraperDroite
                            %img.imageBlock{:alt => "image récipiendaire", :src => "/webdav/site/bbaf/shared/images/boursiers/sophie_jalbert_2010.jpg"}/
                            .boiteDroite
                              %table.corpsBoiteDroite
                                %tr
                                  %td
                                    .texteDroite.tailleTexte
                                      .nomRecipiendaire.tailleTexte Sophie Jalbert
                                      = succeed "Bourse" do
                                        %br/
                                      de leadership artistique
                                      %br/
                                      = succeed "Ma&amp;icirc;trise" do
                                        %br/
                                      en musique, option didactique instrumentale
                                      %br/
                              %table.bas_BoiteDroite
                                %tr
                                  %td.coinBasGauche_BoiteDroite
                                  %td.basCentre_BoiteDroite &nbsp;
                                  %td.coinBasDroit_BoiteDroite
                        / colonne du centre
                        #colonneCentreSection
                          #filDarianne
                            %a.lienToolBar{:href => "/sgc/bbaf"}> Accueil
                            \&nbsp;&gt;&nbsp;
                            %span.pgActive R&eacute;pertoire de bourses
                          .texteCentre.tailleTexte
                            %div
                              %span.titre_1 Bienvenue dans le&nbsp;r&eacute;pertoire des bourses
                            %div &nbsp;
                            %div
                              %span.titre_2 Pour effectuer une recherche
                            %div &nbsp;
                            %div Choississez dans le menu de gauche le cycle d’&eacute;tudes qui vous concerne, par la   suite, vous pourrez choisir de consulter les bourses :
                            %ul
                              %li Par date limite
                              %li Par organisme donateur
                              %li Par facult&eacute; - Domaines d'&eacute;tudes
                              %li Par type de bourses
                              %li Par mots cl&eacute;s
                            %div
                              %span.titre_2
                                Pour vous aider &agrave; effectuer des recherches dans le r&eacute;pertoire des bourses, le   BBAF a con&ccedil;u ces deux guides :
                                %br/
                              %br/
                              = succeed "&amp;nbsp;" do
                                %img{:alt => "", :border => "0", :height => "16", :src => "/jsp/jahia/templates/bbaf/bbaf/images/icons/standard/pdf.gif", :width => "16"}/
                              %a.noStyle{:href => "/webdav/site/bbaf/shared/images/Fichiers joints/guide_de_recherche_general_2010.pdf", :target => "_blank"}
                                %strong Guide de recherche g&eacute;n&eacute;ral
                            %div &nbsp;
                            %div
                              %img{:alt => "", :border => "0", :height => "16", :src => "/jsp/jahia/templates/bbaf/bbaf/images/icons/standard/pdf.gif", :width => "16"}>/
                              \&nbsp;
                              %a.noStyle{:href => "/webdav/site/bbaf/shared/images/Fichiers joints/guide_de_recherche_etudiants_etrangers_2010.pdf", :target => "_blank"}
                                %strong Guide de recherche pour les &eacute;tudiants &eacute;trangers
                      %td.degraderDroite
                        \&nbsp;
                / fin contenu central
                #surPiedDePage
                  .lienSurPied
                    %table.lienSurPied
                      %tr
                        %td.lienSurPied
                          \&nbsp;&nbsp;&nbsp;&nbsp;
                          %a.lienSurPied{:href => "http://www.sae.ulaval.ca/", :title => "Une unit&eacute; de la Direction des services aux &eacute;tudiants"} Une unit&eacute; de la Direction des services aux &eacute;tudiants
                  %table.texteSurPied
                    %tr
                      %td.texteSurPied
                        %div
                          %strong
                            %span.textPiedPage
                              %span.textPiedPage Bureau des bourses et de l'aide financi&egrave;re (BBAF)
                        %div
                          %div
                            %span.textPiedPage
                              %span.textPiedPage
                                Pavillon Alphonse-Desjardins
                                = succeed "2325," do
                                  %br/
                                rue de l’Universit&eacute;, local 2546
                                = succeed "Qu&amp;eacute;bec" do
                                  %br/
                                (Qu&eacute;bec)&nbsp; G1V 0A6
                      %td.texteSurPied
                        %div
                          %span.textPiedPage
                            %span.textPiedPage T&eacute;l&eacute;phone : 418
                            %span.textPiedPage
                              %strong
                                %span.petitText 656-3332
                        %div
                          %span.textPiedPage
                            %span.textPiedPage
                              T&eacute;l&eacute;copieur: 418
                              %strong 656-7775
                          %div
                            %div
                              %a{:href => "/sgc/site/bbaf/pid/12375"} Pour nous joindre par courriel
              / fin de a div bordureTout
              #piedDePage
                / La clé flotte à droite
                .clePied
                  %a{:href => "javascript:window.location='https://www.bbaf.ulaval.ca/sgc/bbaf/repertoire';OpenJahiaWindow('/sgc/bbaf/repertoire/engineName/login?matrix=1298918689527&redirectUrl=http://www.bbaf.ulaval.ca/sgc/bbaf/repertoire','Login',380,270);", :title => "Accès&nbsp;r&eacute;serv&eacute;"}
                    %img{:alt => "Acc&eagrave;s&nbsp;r&eacute;serv&eacute;", :border => "0", :src => "/jsp/jahia/templates/bbaf/bbaf/images/footer-key.gif"}/
                    %br/
                #signature
                  BBAF, tous droits r&eacute;serv&eacute;s
                #centrePiedDePage
                  \&nbsp;&nbsp;
                  %a.piedDePage{:href => "/sgc/bbaf/pid/6544", :title => "Avis techniques"} Avis techniques
                  \&nbsp;&nbsp;
                  %a.piedDePage{:href => "/sgc/bbaf/pid/6545", :title => "Conditions d'utilisation"} Conditions d'utilisation

